// Remove title bar from custom post type
.single-everydistrictm_map .titlebar h1 {
    display: none;
}

.everydistrictm-district-data {
    display: none;
}

.everydistrictm-district-infobox {
    display: none;
    &.active {
        display: block;
    }
}

.everydistrictm-district-infobox-information {
    @include breakpoint($breakpoint-medium) {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #ccc;
        font-size: 14px;
        line-height: 2em;
    }
}

.everydistrictm-district-information a {
    color: #34aad9;
}

.everydistrictm-map {
    @include breakpoint($breakpoint-medium) {
        @include span(8 of 12);
    }
}

.everydistrictm-map-information {
    @include breakpoint($breakpoint-medium) {
        @include span(4 of 12 last);
        min-height: 512px;
    }
}

.everydistrictm-map {
    overflow: hidden;
    &.bordered {
        border: 1px solid #ccc;
    }
}

.everydistrictm-map {
    path {
        stroke-width: 1px;
        stroke: white;
        fill: $alt-blue;
        cursor: pointer;
    }

    path:hover, path.highlighted {
        fill: #408dd3;
    }
}
